.producto-form-container {
  padding: 40px;
  max-width: 600px;
  margin: auto;
}

.producto-form h2 {
  text-align: center;
  color: #7a3b12;
  margin-bottom: 20px;
}

.producto-form {
  background: #fff5e6;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.producto-form label {
  font-weight: bold;
}

.producto-form input,
.producto-form textarea,
.producto-form select {
  padding: 10px;
  border: 1px solid #c9ab8f;
  border-radius: 8px;
}

.btn-guardar {
  margin-top: 10px;
  padding: 12px;
  background: #7a3b12;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-guardar:hover {
  background: #a35715;
}

.preview-container {
  margin-bottom: 10px;
}

.preview-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
}
