.recommended-container {
  width: 100%;
  padding: 40px 60px;
}

.recommended-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.recommended-tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.tab-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 6px;
  color: #555;
}

.tab-btn.active {
  color: #e65e5e;
  border-bottom: 3px solid #e65e5e;
  font-weight: bold;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.recommended-card {
  text-align: center;
}

.recommended-img {
  width: 100%;
  border-radius: 10px;
}

.prod-name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 17px;
}

.prod-price {
  font-size: 15px;
  color: #e65e5e;
  margin: 5px 0 12px;
}

.prod-btn {
  padding: 10px 18px;
  background: #ff7c6b;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
